.header {
    width: 1920px;
    height: 690px;

    .nav {
        background-color: #FFFFFFFF;
        width: 100%;
        height: 88px;

        .logo {
            width: 186px;
            height: 60px;
            float: left;
            margin-left: 360px;
            margin-top: 15px;
            overflow: hidden;
            border: 1px dashed rgb(190, 189, 189);

            img {
                width: 100%;
            }
        }

        ul {
            float: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-left: 16px;
            position: relative;
            // .active{
            //     background-image: url(../../images/首页_slices/矩形.png);
            //     .rr1{
            //         color: white;
            //     }
            // }
            li {
                width: 85px;
                height: 88px;
                font-size: 16px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #333333;
                line-height: 88px;
                a{
                    // width: 85px;
                    // height: 88px;
                    display: block;
                    width: 85px;
                    height: 0px;
                    transition: height 0.5s;
                //     span {
                //     width: 85px;
                //     height: 0px;
                //     transition: height 0.5s;
                // }
                }
                
            }

            li:hover .rr1 {
                background-image: url(../../images/首页_slices/矩形.png);
                display: block;
                height: 88px;
                color: white;
            }

            // li:hover .rr1 {
            //     color: #fff;
            // }
        }

        .lxfs {
            width: 208px;
            height: 88px;
            float: left;
            margin-left: 90px;
            text-align: center;
            line-height: 88px;

            img {
                width: 10px;
                float: left;
                height: 10px;
                margin-top: 40px;
                margin-right: 5px;
                border: 1px dashed #ccc;
            }

            p {
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #333333;
            }
        }

    }

    .bannar {
        width: 1920px;
        .bannar-item {
            img {
                width: 100%;
            }
        }
    }
}