*,div,p,img{
   
    box-sizing: border-box;

}
.footer {
    width: 1920px;
    height: 320px;
    background-color: #25262B;
    overflow: hidden;
    position: relative;

    .f1 {
        width: 140px;
        height: 202px;
        margin-top: 40px;
        margin-left: 356px;
        float: left;
        div{
            width: 140px;
            
        }

        p:nth-of-type(1) {
            height: 22px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 22px;
        }

        p {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #AAAAAA;
            line-height: 20px;
            a{
                text-decoration: none;
                color: #AAAAAA;
            }
            a:hover{
                color: #FFFFFF;
            }
        }
    }

    .f2 {
        width: 64px;
        height: 202px;
        margin-top: 40px;
        margin-left: 76px;
        float: left;

        p:nth-of-type(1) {
            height: 22px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 22px;
        }

        p {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #AAAAAA;
            line-height: 20px;
            a{
                text-decoration: none;
                color: #AAAAAA;
            }
            a:hover{
                color: #FFFFFF;
            }
        }
    }

    .f3 {
        width: 128px;
        height: 202px;
        margin-top: 40px;
        margin-left: 139px;
        float: left;

        p:nth-of-type(1) {
            height: 22px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 22px;
        }

        span {
            width: 16px;
            height: 16px;
            background: #000000;

            img {
                float: left;
                width: 9px;
                height: 9px;
                // background-color: #AAAAAA;
                margin-top: 5px;

            }
        }

        p {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #AAAAAA;
            line-height: 20px;
        }

        .icon {
            width: 21px;
            height: 21px;
            margin-right: 24px;
            border: 1px dashed #CCCCCC;
        }

        .icon:nth-of-type(3) {
            margin: 0;
        }
    }

    .f4 {
        width: 150px;
        height: 195px;
        margin-top: 47px;
        margin-left: 176px;
        float: left;

        p:nth-of-type(1) {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #CCCCCC;
            line-height: 20px;
        }

        p {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #AAAAAA;
            line-height: 20px;
        }
    }

    .f5 {
        width: 120px;
        height: 120px;
        text-align: center;
        float: left;
        margin-top: 40px;
        margin-left: 210px;

        img {
            width: 100%;
        }

        p {
            // width: 96px;
            height: 34px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #AAAAAA;
            line-height: 17px;
        }
    }

    .f6 {
        margin: 0 auto;
        width: 415px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #AAAAAA;
        line-height: 17px;
    }
}